<!-- Customize the following for each page of your app. -->
<% meta title: "Home Page", description: "Description of this page." %>

<div class="jumbotron">
  <h1>headline goes here</h1><br>
  <button class="btn btn-primary">sign up</button>
</div>


<div class="col-md-12" id="uvp">
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">

  </div>
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">
  </div>
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">

  </div>  
</div>
